@import url(http://fonts.googleapis.com/css?family=Raleway:400,300)
@import "normalize.styl"
@import "fonts.styl"
@import 'nib'

// vendor-prefixes = o ms moz webkit


// flex()
   // -webkit-box-flex arguments
   // -moz-box-flex arguments
   // -ms-flex arguments
   // flex arguments
// order()
   // -webkit-box-ordinal-group arguments
   // -moz-box-ordinal-group arguments
   // -ms-flex-order arguments
   // -webkit-order arguments
   // order arguments
a   = #3284CE
b   = #fff
c   = #348FED
n   = #000
r   = #ED1C24
r-o = #CE1D2A
g   = #999
a
	color b
body
	background n
	color b
	font-family 'Raleway'
	font-weight 400
	
form 
	margin-top 2rem
	input
	textarea
		border 1px solid r
		background transparent
		margin-bottom 1.1rem
		width 70%
li
	list-style none
	text-decoration none
textarea
	height 7rem
#submit
	width 18%
	background r
.avatar
	img
		border-radius 50%
.canvas
	overflow hidden
	position relative
	text-align center
	&-main
		padding 10px 0		
	&-tecno	
		background n
		height 100%
		left -100%
		position absolute
		top 0
		transition 1s
		width 100%
		&.is-activeT
			left 0
	&-work
		background n
		height 100%
		position absolute
		right -100%
		top 0
		transition 1s
		width 100%
		&.is-activeW
			right 0
.form 
	background n
	border 1px solid r
	bottom -100%	
	position absolute
	text-align center
	transition 1s
	width 100%
	&.is-activeF
		bottom 0
.contacto
	border-bottom 1px solid r	
	color r
	cursor pointer
	font-weight 300	
	margin-top 4em
.contactox
	background r	
	color b
	cursor pointer
	font-size 2rem
	font-weight 400	
	padding 0 7px
	position absolute 
	top -27px 
	right 0
.dev
	border-bottom 1px solid c
	border-top 1px solid c
	color c
	font-weight 300
	margin-bottom 2em
	// animation 2s state infinite
	
// @keyframes state
	// 0% 
		// font-weight 300
	// 100% 
		// font-weight 400
	
.flex
   display flex
   flex-flow row
   justify-content space-around 

   
.nick-tw
	color c
	font-weight 300		
.title
	background r
	font-weight 400
.tecno-home
	border 1px solid r
	background transparent
	color r 
	padding .5em 3em;
.tecno-title
	color r
	font-style italic
	font-weight 300
	border-bottom 1px solid r 
	border-top 1px solid r 	

.tecno-li
.work-li
	margin-bottom 2em
	padding-bottom 1em
	border-bottom 1px solid c
.tecno-li
	border-bottom 1px solid r
.tecno-ul
	
.work-ul
	margin 0 auto
	text-align left
	width 12rem
.tecno-button
.work-button
	background c
	cursor pointer
	// border 1px solid r
	display inline-block
	margin-top 2rem
	padding .5rem 1rem
	width 50%
	transition .5s
	// &:hover
		// background a
.work-button
	background r	
	transition .5s
	// &:hover
		// background r-o
.work-home
	border 1px solid c
	background transparent
	color c 
	padding .5em 3em;
.work-li
	margin-bottom 2em
	padding-bottom 1em
	border-bottom 1px solid c
.work-title
	color c
	font-style italic
	font-weight 300
	border-bottom 1px solid c 
	border-top 1px solid c 	
